<div class="container">

  <div class="signup-box">
    <div class="row">
      <div class="col-md-6">
          <div class="signup-img" >
          <%= image_tag("signup3.png",class: 'd-block w-100 mt-4',style:"height: ;height: 800px;") %>
          </div>
        </div>
      <div class="col-6">
        <h2 class="text-center">Edit Profile</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        
          <div class="form-group row">
            <%= f.label :email, class:"col-form-label text-dark" %>
            <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
            
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
    
          <div class="form-group row">
            <%= f.label :New_password , class:"col-form-label text-dark" %>
      
            <%= f.password_field :password, class:"form-control", placeholder:"leave blank if you don't want to change it",autocomplete: "new-password" %>
            
            <% if @minimum_password_length %>
          
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group row">
            <%= f.label :profile_image , class:"col-form-label text-dark"%>
            
            <%= f.file_field :avatar , class:"form-control"%>
            
          </div>
          <div class="form-group row">
            <%= f.label :password_confirmation , class:"col-form-label text-dark"%>
    
              <%= f.password_field :password_confirmation, class:"form-control",autocomplete: "new-password" %>
          </div>
          <div class="form-group row">
            <%= f.label :current_password, class:"col-form-label text-dark" %>
          
            <%= f.password_field :current_password,class:"form-control",placeholder:"we need your current password to confirm your changes", autocomplete: "current-password" %>
            
          </div>

          <div class="form-group row">
            <%= f.label :Full_name, class:"col-form-label text-dark" %>
            
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
            
          </div>

          <div class="form-group row">
            <%= f.label :Phone , class:"col-form-label text-dark"%>
            
            <%= f.text_field :phone, autofocus: true,class:"form-control", autocomplete: "phone" %>
        
          </div>

          <div class="form-group row">
            <%= f.label :Age, class:"col-form-label text-dark" %>
            <%= f.text_field :age, autofocus: true, class:"form-control", autocomplete: "age" %>
          </div>

          <div class="form-group row">
            <%= f.label :Gender , class:"col-form-label text-dark"%>
            <%= f.text_field :gender, autofocus: true, class:"form-control", autocomplete: "gender" %>
          </div>

          <div class="form-group row justify-content-center">
            <%= f.submit "Update", class:"btn btn-outline-dark btn-lg mt-2", style:"width: fit-content;"  %>
          </div>
        <% end %>
        <hr>
        <h3>Cancel my account</h3>
        <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

        <%#= link_to "Back", :back %>
  </div>
</div>