
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="signup-box">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"shadow p-5 mb-3 bg-info rounded",html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="form-group row">
          <%= f.label :email, class:"col-2 col-form-label text-light" %>
          <div  class="col-10">
            <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
          </div> 
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group row">
          <%= f.label :password , class:"col-2 col-form-label text-light" %> <i>(leave blank if you don't want to change it)</i>
          <div  class="col-10">
           <%= f.password_field :password, class:"form-control",autocomplete: "new-password" %>
          </div>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div><br>
        <div class="form-group profile-image">
          <%= image_tag(resource.avatar_thumbnail) %>
        </div><br>
        <div class="form-group row">
          <%= f.label :profile_image , class:"col-2 col-form-label text-light"%>
          <div  class="col-10">
           <%= f.file_field :avatar %>
          </div>
        </div><br>
        <div class="form-group row">
          <%= f.label :password_confirmation , class:"col-2 col-form-label text-light"%>
          <div  class="col-10">
            <%= f.password_field :password_confirmation, class:"form-control",autocomplete: "new-password" %>
          </div>
        </div><br>
        <div class="form-group row">
          <%= f.label :current_password, class:"col-2 col-form-label text-light" %> <i>(we need your current password to confirm your changes)</i>
          <div  class="col-10">
            <%= f.password_field :current_password,class:"form-control", autocomplete: "current-password" %>
          </div>
        </div><br>

        <div class="form-group row">
          <%= f.label :Full_name, class:"col-2 col-form-label text-light" %>
          <div  class="col-10">
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>
        </div><br>

        <div class="form-group row">
          <%= f.label :Phone , class:"col-2 col-form-label text-light"%>
          <div  class="col-10">
            <%= f.text_field :phone, autofocus: true,class:"form-control", autocomplete: "phone" %>
          </div> 
        </div><br>

        <div class="form-group row">
          <%= f.label :Age, class:"col-2 col-form-label text-light" %>
          <div  class="col-10">
            <%= f.text_field :age, autofocus: true, class:"form-control", autocomplete: "age" %>
          </div>
        </div><br>

        <div class="form-group row">
          <%= f.label :Gender , class:"col-2 col-form-label text-light"%>
          <div  class="col-10">
            <%= f.text_field :gender, autofocus: true, class:"form-control", autocomplete: "gender" %>
          </div>
        </div><br>

        <div class="form-group row actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <%= link_to "Back", :back %>
</div>
