<div class="admin-dashboard">
    <div class="admin-sidebar">
        <%=render 'users/sidebar'%>
    </div>
    <section class="admin-main-content ">
        <div class='row admin-row'>  
            <div class='col-md-4'>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <p class="card-text"><%= pluralize(User.count ,"User")%></p>
                        <a><%= link_to 'See Users', users_path, class:"btn btn-info"%> </a>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Policies</h5>
                        <p class="card-text"><%= pluralize(Policy.count ,"Policy")%></p>
                        <a><%= link_to 'See Policies', policies_path, class:"btn btn-info"%> </a>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Companies</h5>
                        <p class="card-text"><%= pluralize(Company.count ,"Company")%></p>
                        <a><%= link_to 'See Companies', companies_path, class:"btn btn-info"%> </a>
                    </div>
                </div>
            </div>
        </div>
            <div class="box shadow rounded mt-4">
                <table class="table table-hover table-bordered company-table ">
                    <thead>
                    <tr class="table-primary">
                        <th><i>Profile</i></th>
                        <th><i>Name</i></th>
                        <th><i>Email</i></th>
                        <th><i>Phone</i></th>
                        <th><i>Action</i></th>
                    </tr>
                    </thead>

                    <tbody>
                    <% @users.each do |user| %>
                        <tr>
                        <td>
                            <% if user.avatar_thumbnail.present?%>
                            <%= image_tag(user.avatar_thumbnail, class:"card-img-top ") %> 
                            <% else %>
                            <%= image_tag("user2.png", class:"card-img-top")%> 
                            <%end %> 
                        </td>
                        <td><p><%= user.name %></p></td>
                        <td><p><%= user.email %></p></td>
                        <td><p><%= user.phone %><p></td>
                            <td><p><%= link_to 'Show',user_path(user),class:"btn btn-primary" %></p></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div> 
    </section>


</div>
