<div class="container user-container">
  <h1 class="text-center"><%=@user.name%>'s Details</h1><hr><br>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card-body">
        <%= image_tag("user.png",class: 'card-img-top') %>
          <b class="card-title"><%= @user.name %></b>
          <p class="card-text">Email: <%=@user.email%></p>
          <p class="card-text">Phone: <%=@user.phone%></p>
          <p class="card-text">Age: <%=@user.age%></p>
          <p class="card-text">Gender: <%=@user.gender%></p>
        <p>
      </div>
    </div>
  </div>  
</div>
       

<%#= link_to 'Edit',edit_user_registration_path %>
<%#= link_to 'Back', root_path %>
