<p id="notice"><%= notice %></p>
<div class="box shadow rounded">
  <table class="table table-hover table-bordered company-table ">
    <thead>
      <tr class="table-primary">
          <th><i>Company</i></th>
          <th><i>Plan Info</i></th>
          <th><i>Cover</i></th>
          <th><i>Price(Rs.)</i></th>
          <%if current_user && current_user.admin?%>
            <th><i>Policy Type</i></th>
          <%end%>
          <th><i>Action</i></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td>
            <% if company.image.present?%>
              <%= image_tag(company.image, class:"card-img-top ") %> 
            <% else %>
              <%= image_tag("user2.png", class:"card-img-top")%> 
            <%end %> 
          </td>
          <td><p><%= company.plan_info %></p></td>
          <td><p><%= company.cover %></p>
          <%if params[:controller]=="users" && params[:action]=="user_policies"%>
             <i> *get 10% discount on renewal</i>
          <%end%>
          </td>
          <td><p><%= company.premium %><p></td>
          <%if current_user && current_user.admin?%>
            <td><p><%= company.policy.title %></p></td>
          <%end%>       
          
            <td><p><%= link_to 'Show',company_path(id: company.id),class:"btn btn-primary" %></p></td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>



<%#= link_to 'New Company', new_company_path %>
