<p id="notice"><%= notice %></p>
<div class="box shadow rounded">
  <table class="table table-hover table-striped table-bordered company-table">
    <thead>
      <tr>
        <th>Company name</th>
        <th>Plan info</th>
        <th>Cover</th>
        <th>Premium(Rs.)</th>
        <%if current_user.admin?%>
          <th>Policy Type</th>
        <%end%>
        <th>Action</th>
        
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.company_name %></td>
          <td><%= company.plan_info %></td>
          <td><%= company.cover %></td>
          <td><%= company.premium %></td>
          <%if current_user.admin?%>
            <td><%= company.policy.title %></td>
          <%end%>
          <td><%= link_to 'Show', company %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>



<%#= link_to 'New Company', new_company_path %>
