<p id="notice"><%= notice %></p>



<table class="table table-hover company-table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Plan info</th>
      <th>Cover</th>
      <th>Premium</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_name %></td>
        <td><%= company.plan_info %></td>
        <td><%= company.cover %></td>
        <td><%= company.premium %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%#= link_to 'Edit', edit_company_path(company) %></td>
        <td><%#= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Company', new_company_path %>
