<div class="container company-show">
  <p>
    <strong>Company name:</strong>
    <%= @company.company_name %>
  </p>

  <p>
    <strong>Plan info:</strong>
    <%= @company.plan_info %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= @company.cover %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= @company.premium %>
  </p>
  <%= link_to 'Back', companies_path%> |
  <%= button_to 'Buy Now',checkout_index_path , params: {id: @company.id}, remote: true %> 
  <% if current_user.admin? %>
      |<%= link_to 'Edit', edit_company_path(@company) %></a>     
  <% end %> 
</div>
