<div class="row">
   <div class="col-md-6 login-form">
      <h2 class="text-center">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <%= f.label :email , class:"col-form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>

        <div class="form-group row">
          <%= f.label :password ,class:"col-form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password" ,class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me  %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="form-group row">
          <%= f.submit "Log in", class:"btn btn-outline-dark btn-lg mt-2", style:"width: fit-content; " %>
        </div>
      <% end %>
      <div class="form-group row">
        <%= link_to 'Login with Phone number', otp_form_path %>
      </div>
    </div>
    <div class="col-md-6 login-img">
        <div>
          <%= image_tag("signup.jpg",class: 'd-block w-100') %>
        </div>
    </div>
</div>

<%= render "devise/shared/links" %>


