<div class="container login-container">
  <div class="row ">
      <div class="col-md-6">
        <%= image_tag("family2.png",class: 'd-block w-100 life-insurance-form') %>
      </div>
      <div class="col-md-6">
        <h4><strong class="text-primary">₹1 Crore</strong> life cover starting at <strong class="text-primary"> ₹490/month+</strong></h4>
        <div class="form-group row">
          <%= form_with(url: life_insurance_user_path,method: :post ,html:{id: "lifeinsuranceform" },class:"p-3 mb-3") do |form| %>
            <div class="form-group row">
              <%= form.label :Name, class:"col-form-label" %>
                <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
            </div>
            <div class="form-group row">
              <%= form.label :age ,class:"col-form-label"%>
                <%= form.text_field :age , class:"form-control" ,placeholder:"Age" %>
            </div>
            <div class="form-group mt-2 form-check form-check-inline">
                <%= form.radio_button :gender, "male", class:"form-check-input"%>
                <%= form.label :gender_male, "Male",class:"form-check-label" %>
                <%= form.radio_button :gender, "female" ,class:"form-check-input"%>
                <%= form.label :gender_female, "Female",class:"form-check-label" %>
            </div>
              <div class="form-group row">
              <%= form.label :phone ,class:"col-form-label"%>
                <%= form.text_field :phone , class:"form-control" ,placeholder:"Phone No." %>
            </div>
            <div class="form-group row">
              <%= form.submit "View Free Quotes", class:"btn btn-outline-success btn-lg mt-2 "%>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

<script>
   $(document).on("turbolinks:load",function(){
    $("#lifeinsuranceform").validate({
     rules: {
      "name":{
          required: true
      },
      "phone":{
          required: true,
          minlength:10,
          maxlength:10
        
      },
      "age":{
          required: true
      },
  },
     messages: {
      "name":{
           required: "Please enter valid name"
      },
      "phone":{
           required: "Please enter valid phone no.",
           minlength: "minimum length is 10 digits",
           maxlength: "maximum length is 10 digits",
           
      },
      "age":{
           
      },
    },
});
     });
</script>