<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand fs-3" href=""><strong>Policy</strong><i>Please</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">
        <li class="nav-item nav-link ">
          <%= link_to 'Home', root_path , class:"text-decoration-none " %>
        </li>
        
        <% if current_user%>
        
        <li class="nav-item dropdown nav-link ">
          <a class="av-link dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown">
           
            <%= "(Admin)" if current_user.admin? %> <%= current_user.name %>
          </a>
          <ul class="dropdown-menu text-center " ,aria-labelledby="dropdownMenuLink">
            <li><%= link_to 'View Profile', user_path(current_user), class:"dropdown-item" %></li>
            <li><%= link_to 'Edit Profile', edit_user_registration_path, class:"dropdown-item" %></li>
            <li><%= link_to 'My Policies',user_policies_path, class:"dropdown-item" %></li>
            
            <% if current_user.admin?%>
            <li><%= link_to 'Dashboard', dashboard_path ,class:"dropdown-item" %></li>
            <% end %>
            <%= button_to 'Sign Out', destroy_user_session_path , method: :delete ,class:"dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item ">
          <%= image_tag(current_user.avatar_thumbnail , class:"profile-image")%>
        </li>
        <% else%>
        <li class="nav-item">
          <%= link_to 'Sign up', new_user_registration_path, class:"nav-link btn btn-outline-info" %>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>

